<section class="small-12 columns">
<h4>Newsletter</h4>
   <form action="http://backthatelfup.us5.list-manage.com/subscribe/post?u=8ac42c027c15ee52a0e2644af&amp;id=2e68440dab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button tiny box-shadow">
      <input type="text" value="" name="FNAME" class="" placeholder="first name" id="mce-FNAME">
    </form>
</section>