---
layout: default
title: home
---

<aside class="trap">
  <div class="row">
    <div class="column small-offset-2 small-8 medium-4 medium-offset-0 center-text">
      <img class="free-books" src="/images/books/3d-stack.png" alt="Self-Made Scoundrel cover" title="Self-Made Scoundrel">
    </div>
    <div class="column small-12 medium-8 center-text">
      <h2 class="upsale">Get your starter bundle of The Valley of Ten Crescents series completely free - just tell me where to send it.</h2>
      <button class="large" onclick="location.href='#join_form'">Get your free books</button>
    </div>
  </div>

  <!-- popup form #1 -->
        <a href="#x" class="overlay" id="join_form"></a>
        <div class="popup center-text">
  <h1 class="">Where can I send your books?</h1>

<!-- Begin MailChimp Signup Form -->
        <form action="https://backthatelfup.us5.list-manage.com/subscribe/post?u=8ac42c027c15ee52a0e2644af&id=2e68440dab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
            <div class="small-12 columns">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8ac42c027c15ee52a0e2644af_2e68440dab" tabindex="-1" value=""></div><input type="checkbox" id="group_4" name="group[19793][4]" value="1" checked="checked" class="hide av-checkbox"><div class="clear"><input type="submit" value="Send My Free Books" name="subscribe" id="mc-embedded-subscribe" class="button submit"></div>
            </div>
        </form>
<!--End mc_embed_signup-->

  <p>Enter your email address to get your free books delivered to your inbox.</p>
  <p>You’ll also be added to my Readers’ Group and you’ll be the first to know next time I have some cool stuff to give away (you can unsubscribe at any time).</p>  

            <a class="close" href="#close"></a>
        </div>
  
</aside>

<article class="row">

  <section class="small-12 medium-6 columns center-text">
    <h3 class="page-header center-text"> &nbsp; Coming Soon &nbsp; </h3>
    <div class="center-text">
      {% for books in site.data.books %}
	{% if books.series == "Hen &amp; Chick" %}
	    <div class="covers hide-for-small">
<iframe width="455" height="256" src="https://www.kickstarter.com/projects/672576444/shamsee-lone-idiot-and-cub-graphic-novel/widget/video.html" frameborder="0" scrolling="no"> </iframe>
  <h3>Shamsee: Lone Idiot and Cub</h3>
	    </div>
	  
	    <div class="small-12 medium-6 columns covers hide-for-large">
<iframe width="335" height="189" src="https://www.kickstarter.com/projects/672576444/shamsee-lone-idiot-and-cub-graphic-novel/widget/video.html" frameborder="0" scrolling="no"> </iframe>
  <h3>Shamsee: Lone Idiot and Cub</h3>
	    </div>
	    
	{% endif %}
      {% endfor %}
    </div>
  </section>
  
    <section class="small-12 medium-6 columns center-text">
    <h3 class="page-header center-text">New Releases</h3>
    <div class="center-text">
      {% for books in site.data.books %}
	{% if books.series == "Hen &amp; Chick" %}
	    <div class="covers hide-for-small">
	      <a href="/books/the-marauders-island/">
		<figure>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
		</figure>
	      </a>
	    </div>
	  
	    <div class="small-12 medium-6 columns covers hide-for-large">
	      <a href="/books/the-marauders-island/">
		<figure>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
		</figure>
	      </a>
	    </div>
	    
	{% endif %}
      {% endfor %}
    </div>
  </section>

  <section class="small-12 columns center-text">
    <h3 class="page-header center-text">The Valley of Ten Crescents</h3>
    <div class="center-text">
      {% for books in site.data.books %}
	{% if books.series == "The Valley of Ten Crescents" %}
	    <div class="covers hide-for-small">
	      <a href="#{{ books.anchor }}">
		<figure>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
		</figure>
	      </a>
	    </div>
	  
	    <div class="small-6 columns covers hide-for-large">
	      <a href="#{{ books.anchor }}">
		<figure>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
		</figure>
	      </a>
	    </div>
	    
	{% endif %}
      {% endfor %}
    </div>
  </section>   

  <section class="small-12 columns center-text">
    <h3 class="page-header center-text">Other Works</h3>
    <div class="center-text">
      {% for books in site.data.books %}
	{% if books.series == null %}
	    <div class="covers hide-for-small">
	      <a href="#{{ books.anchor }}">
		<figure>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
		</figure>
	      </a>
	    </div>
	    
	    <div class="small-6 columns covers hide-for-large">
	    <a href="#{{ books.anchor }}">
	      <figure>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
	      </figure>
	    </a>
	    </div>
	{% endif %}
      {% endfor %}
      <br />
      <br />
    </div>
  </section>

    <section class="small-12 columns center-text">
    <h3 class="page-header center-text">Freelance RPGs</h3>
    <div class="center-text">
      {% for books in site.data.freelance %}
	    <div class="covers hide-for-small">
	      <a href="#{{ books.anchor }}">
		<figure>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
		</figure>
	      </a>
	    </div>
	    
	    <div class="small-6 columns covers hide-for-large">
	    <a href="#{{ books.anchor }}">
	      <figure>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
	      </figure>
	    </a>
	    </div>
      {% endfor %}
      <br />
      <br />
    </div>
  </section>
  
  <section class="small-12 columns">
    <h3 class="page-header">&nbsp;</h3>
    {% for books in site.data.books %}
      <div class="blocky book-info" id="{{ books.anchor }}">
	<a href="#{{ books.anchor }}">
	  <figure class="small-3 medium-1 thumbs">
	      <img src="{{ books.thumb }}" alt="{{ books.title }} cover" title="{{ books.title }}">
	  </figure>
	</a>
	  {% if books.number != null %}
	    <h2>{{ books.title }} ({{ books.series}} #{{ books.number }})</h2>
	  {% else %}
	  <h2>{{ books.title }}</h2>
	  {% endif %}
	  <p>{{books.blurb }}</p>
	  <p><em>{{ books.tagline }}</em></p>
      </div>
      <div class="store center-text">
	{% if books.amazon %}<a href="{{ books.amazon }}"><span class="icon-amazon"></span></a>{% endif %}
	{% if books.amazonuk %}<a href="{{ books.amazonuk }}"><span class="icon-amazonuk"></span></a>{% endif %}
	{% if books.gumroad %}<a href="{{ books.gumroad }}"><span class="icon-gumroad"></span></a>{% endif %}
	{% if books.drivethru %}<a href="{{ books.drivethru }}"><span class="icon-dtfiction"></span></a>{% endif %}
	{% if books.kobo %}<a href="{{ books.kobo }}"><span class="icon-kobo"></span></a>{% endif %}
	{% if books.nook %}<a href="{{ books.nook }}"><span class="icon-nook"></span></a>{% endif %}
	{% if books.itunes %}<a href="{{ books.itunes }}"><span class="icon-itunes"></span></a>{% endif %}
      </div>
      <hr />
      <br />
    {% endfor %}
  </section>

  <section class="small-12 columns">
    {% for books in site.data.freelance %}
      <div class="blocky book-info" id="{{ books.anchor }}">
	<a href="#{{ books.anchor }}">
	  <figure class="small-3 medium-1 thumbs">
	      <img src="{{ books.thumb }}" alt="{{ books.title }} cover" title="{{ books.title }}">
	  </figure>
	</a>
	  {% if books.number != null %}
	    <h2>{{ books.title }} ({{ books.series}} #{{ books.number }})</h2>
	  {% else %}
	  <h2>{{ books.title }}</h2>
	  {% endif %}
	  <p>{{books.blurb }}</p>
	  <p><em>{{ books.tagline }}</em></p>
      </div>
      <div class="store center-text">
	{% if books.amazon %}<a href="{{ books.amazon }}"><span class="icon-amazon"></span></a>{% endif %}
	{% if books.gumroad %}<a href="{{ books.gumroad }}"><span class="icon-gumroad"></span></a>{% endif %}
	{% if books.drivethru %}<a href="{{ books.drivethru }}"><span class="icon-dtfiction"></span></a>{% endif %}
	{% if books.kobo %}<a href="{{ books.kobo }}"><span class="icon-kobo"></span></a>{% endif %}
	{% if books.nook %}<a href="{{ books.nook }}"><span class="icon-nook"></span></a>{% endif %}
	{% if books.itunes %}<a href="{{ books.itunes }}"><span class="icon-itunes"></span></a>{% endif %}
      </div>
      <hr />
      <br />
    {% endfor %}
  </section>
  
</article>

<aside class="author-bio">
  <div class="row">
  <section class="small-12 columns pad-lr-15">
   {% for about in site.data.about %}
    <div class="small-12 blocky" id="about">
      <img class="biopic" src="{{ site.baseurl }}{{ about.pic }}" alt="{{ about.title }} image">
      <h2 class="pad-t-15">About the {{ about.title }}</h2>     
      {% if about.info%}
	<p>{{about.info }}</p>
      {% endif %}

    </div>
    <br />
   {% endfor %}
</section>
  </div>
  
</aside>
