---
layout: default
title: home
---

<aside class="trap">
  <div class="row">
    <div class="column small-12 medium-4 center-text">
      <img class="free-books" src="/images/books/thieves-at-heart.jpg" alt="Thieves at Heart cover" title="Thieves at Heart">
    </div>
    <div class="column small-12 medium-8 center-text">
      <h2 class="upsale">For a limited time, you can get a FREE copy of Thieves at Heart & Self-Made Scoundrel – the first two Valley of Ten Crescents novels – direct from this site. Just click the tab below to get started.</h2>
      <button class="large" onclick="location.href='/free_books'">Get my Free Books</button>
    </div>
  </div>
  
</aside>

<article class="row">
      
  <section class="small-12 columns center-text">
    <h3 class="page-header center-text">The Valley of Ten Crescents</h3>
    <div class="center-text">
      {% for books in site.data.books %}
	{% if books.series == "The Valley of Ten Crescents" %}
	  {% if books.free == "yes" %}
	    <div class="covers hide-for-small">
	      <a href="#{{ books.anchor }}">
		<figure>
		  <div class="circle">FREE</div>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
		  <figcaption>{{ books.short }}</figcaption>
		</figure>
	      </a>
	    </div>
	   {% else %}
	    <div class="covers hide-for-small">
	      <a href="#{{ books.anchor }}">
		<figure>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
		  <figcaption>{{ books.short }}</figcaption>
		</figure>
	      </a>
	    </div>
	  {% endif %}
	  
	  {% if books.free == "yes" %}
	    <div class="small-6 columns covers hide-for-large">
	      <a href="#{{ books.anchor }}">
		<figure>
		  <div class="circle">FREE</div>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
		</figure>
	      </a>
	    </div>
	  {% else %}
	    <div class="small-6 columns covers hide-for-large">
	      <a href="#{{ books.anchor }}">
		<figure>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
		</figure>
	      </a>
	    </div>
	  {% endif %}
	    
	{% endif %}
      {% endfor %}
    </div>
  </section>   

  <section class="small-12 columns center-text">
    <h3 class="page-header center-text">Other Works</h3>
    <div class="center-text">
      {% for books in site.data.books %}
	{% if books.series == null %}
	    <div class="covers hide-for-small">
	      <a href="#{{ books.anchor }}">
		<figure>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
		  <figcaption>{{ books.short }}</figcaption>
		</figure>
	      </a>
	    </div>
	    
	    <div class="small-6 columns covers hide-for-large">
	    <a href="#{{ books.anchor }}">
	      <figure>
		  <img src="{{ books.cover }}" alt="{{ books.title }} cover" title="{{ books.title }}">
	      </figure>
	    </a>
	    </div>
	{% endif %}
      {% endfor %}
      <br />
      <br />
    </div>
  </section>

  <section class="small-12 columns">
    <h3 class="page-header">&nbsp;</h3>
    {% for books in site.data.books %}
      <div class="blocky book-info" id="{{ books.anchor }}">
	<a href="#{{ books.anchor }}">
	  <figure class="small-3 medium-1 thumbs">
	      <img src="{{ books.thumb }}" alt="{{ books.title }} cover" title="{{ books.title }}">
	  </figure>
	</a>
	  {% if books.number != null %}
	    <h2>{{ books.title }} ({{ books.series}} #{{ books.number }})</h2>
	  {% else %}
	  <h2>{{ books.title }}</h2>
	  {% endif %}
	  <p>{{books.blurb }}</p>
	  <p><em>{{ books.tagline }}</em></p>
      </div>
      <div class="store center-text">
	{% if books.amazon %}<a href="{{ books.amazon }}"><span class="icon-amazon"></span></a>{% endif %}
	{% if books.gumroad %}<a href="{{ books.gumroad }}"><span class="icon-gumroad"></span></a>{% endif %}
	{% if books.drivethru %}<a href="{{ books.drivethru }}"><span class="icon-dtfiction"></span></a>{% endif %}
	{% if books.kobo %}<a href="{{ books.kobo }}"><span class="icon-kobo"></span></a>{% endif %}
	{% if books.nook %}<a href="{{ books.nook }}"><span class="icon-nook"></span></a>{% endif %}
	{% if books.itunes %}<a href="{{ books.itunes }}"><span class="icon-itunes"></span></a>{% endif %}
      </div>
      <hr />
      <br />
    {% endfor %}
  </section>
  
</article>

<aside class="author-bio">
  <div class="row">
  <section class="small-12 columns pad-lr-15">
   {% for about in site.data.about %}
    <div class="small-12 blocky" id="about">
      <img class="biopic" src="{{ site.baseurl }}{{ about.pic }}" alt="{{ about.title }} image">
      <h2 class="pad-t-15">About the {{ about.title }}</h2>     
      {% if about.info%}
	<p>{{about.info }}</p>
      {% endif %}

    </div>
    <br />
   {% endfor %}
</section>
  </div>
  
</aside>