<footer class="site-footer">
  <div class="row">
    <div class="columns">
    {% if page.footer != "no" %}
      <div class="small-12 medium-6 large-3 columns left newsletter-footer">
	<h2 class="center-text">Newsletter</h2>
      </div>
      <div class="large-9 columns right newsletter-footer">
	<form class="validate" action="https://backthatelfup.us5.list-manage.com/subscribe/post?u=8ac42c027c15ee52a0e2644af&amp;id=2e68440dab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
	  <input class="email" type="email-footer" value="" name="EMAIL"  id="mce-EMAIL-footer" placeholder="email address" required>
	  <input type="text" value="" name="FNAME" placeholder="first name" id="mce-FNAME">
	  <input class="button tiny box-shadow" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe-footer">
	</form>
      </div>
      {% else %}
    {% endif %}
    </div>
      <div class="small-12 center-text">
      {% if page.privacy != "no" %}
        <p><a href="/privacy/">Privacy Policy</a></p>
      {% endif %}
      </div>
  </div>
</footer>
