.covers {
  margin: 0 5px 10px 5px;
  display: inline-block;

    &:hover {
        filter: brightness(80%);
    }
    
  @media screen and (max-width: 768px) {
    margin: 0 0 10px 0;
  }

}

.thumbs {
  margin: 5px 5px;
  display: inline-block;
  float: left;
}

.book-info:hover {
  background:rgba(0,0,0,0.08);    
}

div.book-info:target {
    padding-top: 75px;
}

div:target {
  background:rgba(0,0,0,0.08);
}

.store {
  background-color: #f0f0f0; 
}
