  
.trap {
  background: url(../images/nami.png) repeat #000 fixed !important;
  margin-bottom: 15px;
}

.upsale {
  padding: 30px 0;
  color: #3a3a3a;
  
  @media screen and (max-width: 768px) {
   padding: 0 0 10px 0;
   font-size: 1.2em;
  }
}

img.free-books {
  padding: 15px 0;
  
  @media screen and (max-width: 768px) {
    padding: 10px 0; 
  }
}