{% if site.fixed_navigation %}
<div class="sticky" data-options="">
{% endif %}
  <nav class="top-bar" data-topbar>

    <!--Uncomment {{ site.title }}below if you would like a title area on the left side of the nav bar-->

    <ul class="title-area">
        <li>
          <a href="{{ root_url }}/"><img src="/images/backthatelfup-logo.png" class="logo"></a>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>


    <section class="top-bar-section">

      <ul class="main-navigation left">

          <li{% if page.url == '/comics/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/comics">Home</a></li>

          <li{% if page.url == '/comics/a-fistful-of-lunars/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/comics/a-fistful-of-lunars/">Archives</a></li>

          <li{% if page.url == '/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/">Books</a></li>
          
          <li{% if page.url == '/comics/about/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/comics/about">About</a></li>
      </ul>
      
<div class="large-2 small-12 columns right socials">
      {% if site.tumblr %}
          <a class="socials tumblr right" href="{{ site.tumblr }}" title="Tumblr">
            <i class="fa fa-2x fa-tumblr"> </i>
          </a>
      {% endif %}
          <a class="rss socials right" href="{{ site.subscribe_rss }}" title="subscribe via RSS">
            <i class="fa fa-2x fa-rss"> </i>
          </a>
</div>
    </section>
  </nav>
{% if site.fixed_navigation %}
</div>
{% endif %}
{% if page.header_image %} <a href="{{ root_url }}/comics"><img src="{{ page.header_image }}" alt="{{ site.title }} banner image" title="{{ site.title }}" class="hide-for-large-up"></a> {% endif %}
